body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 223, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  position:absolute;
  left:28px;
  top:30px;
  width:640px;
  height:1136px;
}
#u455 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:20px;
}
#u456 {
  position:absolute;
  left:31px;
  top:43px;
  width:636px;
  height:20px;
}
#u457 {
  position:absolute;
  left:2px;
  top:2px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u458 {
  position:absolute;
  left:43px;
  top:102px;
  width:23px;
  height:23px;
}
#u459 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u460 {
  position:absolute;
  left:213px;
  top:94px;
  width:272px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u461 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:311px;
}
#u462 {
  position:absolute;
  left:193px;
  top:388px;
  width:311px;
  height:311px;
}
#u463 {
  position:absolute;
  left:2px;
  top:148px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
}
#u464 {
  position:absolute;
  left:240px;
  top:356px;
  width:216px;
  height:32px;
}
#u465 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u466 {
  position:absolute;
  left:271px;
  top:364px;
  width:155px;
  height:16px;
  color:#FFFFFF;
}
#u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u468 {
  position:absolute;
  left:196px;
  top:986px;
  width:55px;
  height:55px;
}
#u469 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u470 {
  position:absolute;
  left:446px;
  top:986px;
  width:55px;
  height:55px;
}
#u471 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u472 {
  position:absolute;
  left:209px;
  top:1051px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u474 {
  position:absolute;
  left:459px;
  top:1051px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u476 {
  position:absolute;
  left:948px;
  top:1034px;
  width:37px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:283px;
}
#u478 {
  position:absolute;
  left:205px;
  top:402px;
  width:286px;
  height:283px;
}
#u479 {
  position:absolute;
  left:2px;
  top:134px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u480 {
  position:absolute;
  left:330px;
  top:715px;
  width:36px;
  height:36px;
}
#u481 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:320px;
  top:754px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u484 {
  position:absolute;
  left:43px;
  top:99px;
  width:28px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u485 {
  position:absolute;
  left:312px;
  top:715px;
  width:73px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u486 {
  position:absolute;
  left:437px;
  top:986px;
  width:73px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
