body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1037px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119 {
  position:absolute;
  left:28px;
  top:30px;
  width:640px;
  height:1135px;
  overflow:hidden;
  visibility:hidden;
}
#u119_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1135px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u119_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:1187px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:-91px;
  top:-28px;
  width:749px;
  height:1187px;
}
#u121 {
  position:absolute;
  left:2px;
  top:586px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u123 {
  position:absolute;
  left:83px;
  top:477px;
  width:480px;
  height:296px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u124 {
  position:absolute;
  left:16px;
  top:140px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u127 {
  position:absolute;
  left:83px;
  top:477px;
  width:480px;
  height:54px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u128 {
  position:absolute;
  left:24px;
  top:16px;
  width:432px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u130 {
  position:absolute;
  left:527px;
  top:498px;
  width:12px;
  height:12px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:539px;
  top:492px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u135 {
  position:absolute;
  left:83px;
  top:709px;
  width:480px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u136 {
  position:absolute;
  left:16px;
  top:24px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:477px;
  top:725px;
  width:61px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u138 {
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u139 {
  position:absolute;
  left:405px;
  top:725px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u140 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:482px;
  top:709px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:482px;
  top:757px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u144 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u145 {
  position:absolute;
  left:110px;
  top:562px;
  width:429px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u146 {
  position:absolute;
  left:12px;
  top:9px;
  width:417px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:178px;
  top:587px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:477px;
  top:725px;
  width:61px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u150 {
  position:absolute;
  left:512px;
  top:488px;
  width:38px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u151 {
  position:absolute;
  left:405px;
  top:725px;
  width:65px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:56px;
}
#u152 {
  position:absolute;
  left:252px;
  top:587px;
  width:200px;
  height:56px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u153 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 223, 224, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:28px;
  top:30px;
  width:640px;
  height:1136px;
}
#u155 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:128px;
}
#u157 {
  position:absolute;
  left:31px;
  top:31px;
  width:633px;
  height:128px;
}
#u158 {
  position:absolute;
  left:2px;
  top:56px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:79px;
}
#u159 {
  position:absolute;
  left:471px;
  top:74px;
  width:180px;
  height:79px;
}
#u160 {
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u161 {
  position:absolute;
  left:212px;
  top:90px;
  width:272px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u163 {
  position:absolute;
  left:212px;
  top:325px;
  width:21px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  visibility:hidden;
  white-space:nowrap;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:362px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  position:absolute;
  left:28px;
  top:159px;
  width:640px;
  height:362px;
}
#u166 {
  position:absolute;
  left:2px;
  top:173px;
  width:636px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u167 {
  position:absolute;
  left:49px;
  top:566px;
  width:30px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:114px;
  top:560px;
  width:542px;
  height:40px;
}
#u169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u170 {
  position:absolute;
  left:28px;
  top:610px;
  width:640px;
  height:1px;
}
#u171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u172 {
  position:absolute;
  left:49px;
  top:652px;
  width:30px;
  height:30px;
}
#u173 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:114px;
  top:646px;
  width:542px;
  height:40px;
}
#u174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u175 {
  position:absolute;
  left:28px;
  top:696px;
  width:640px;
  height:1px;
}
#u176 {
  position:absolute;
  left:2px;
  top:-8px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#333333;
}
#u177 {
  position:absolute;
  left:173px;
  top:772px;
  width:350px;
  height:50px;
  font-size:18px;
  color:#333333;
}
#u177_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#333333;
}
#u177.mouseOver {
}
#u178 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:173px;
  top:772px;
  width:350px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u180 {
  position:absolute;
  left:198px;
  top:879px;
  width:323px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u182 {
  position:absolute;
  left:176px;
  top:879px;
  width:18px;
  height:18px;
}
#u183 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u185 {
  position:absolute;
  left:693px;
  top:749px;
  width:344px;
  height:156px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u186 {
  position:absolute;
  left:2px;
  top:70px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u187 {
  position:absolute;
  left:755px;
  top:774px;
  width:57px;
  height:21px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u189 {
  position:absolute;
  left:755px;
  top:803px;
  width:256px;
  height:66px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:948px;
  top:849px;
  width:65px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u192 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u193 {
  position:absolute;
  left:717px;
  top:772px;
  width:22px;
  height:24px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#F5222D;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:144px;
}
#u195 {
  position:absolute;
  left:693px;
  top:560px;
  width:278px;
  height:144px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u196 {
  position:absolute;
  left:2px;
  top:32px;
  width:274px;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#1890FF;
}
#u197 {
  position:absolute;
  left:299px;
  top:1092px;
  width:99px;
  height:16px;
  text-decoration:underline;
  color:#1890FF;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u199 {
  position:absolute;
  left:299px;
  top:1079px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u200 {
  position:absolute;
  left:731px;
  top:869px;
  width:177px;
  height:54px;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u201 {
  position:absolute;
  left:2px;
  top:19px;
  width:173px;
  word-wrap:break-word;
}
